@import "colors";

// General colors
@syntax-text-color: @very-light-gray;
@syntax-cursor-color: white;
@syntax-selection-color: @blue;
@syntax-background-color: #242424;

// Guide colors
@syntax-wrap-guide-color: @light-gray;//@dark-gray;
@syntax-indent-guide-color: @light-gray;//@gray;
@syntax-invisible-character-color: @gray;

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: @green;
//
// Gutter colors
@syntax-gutter-text-color: #7D7D7D;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-icon-text-color: #919191;
@syntax-gutter-background-color: #2C2C2C;
@syntax-gutter-background-color-selected: darken(@amber, 20%);
@syntax-gutter-margin-color-selected: @amber;
@syntax-gutter-text-color-selected: @white;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: lighten(@amber, 20%);
@syntax-color-removed: @red;
